//- Home page
extends layout

block content

  h1= "Help!"
  br

  .main.container
    .row
      .col-md-6.col-md-offset-3
       h2.display-4.m-b-2 Log In
        form(method='GET' action='/login')
          div.form-group
            input#cost.form-control(type='text', placeholder='Email' name='email' value='Email') 
          br
          div.form-group 
             input#cost.form-control(type='text', placeholder='Password' name='password' value='Password') 
          br
          button.btn.btn-primary(type='submit' value='submit') Submit
          br
          br
      h2.display-4.m-b-2 Sign Up
        form(method='POST' action='/userAdded')
          div.form-group
            input#name.form-control(type='text', placeholder='Name' name='name' value='Name')
          br
          div.form-group
            input#cost.form-control(type='text', placeholder='Email' name='email' value='Email') 
          br
          div.form-group 
             input#cost.form-control(type='text', placeholder='Password' name='password' value='Password') 
          br
          button.btn.btn-primary(type='submit' value='submit') Submit