div#registerPage {
    display: grid;
    grid-template-areas: 
        "ancement"
        "content"
        "bottom";
    grid-template-rows: 1fr 500px 1fr;
}

body {
    margin: 0 auto;
}
  
section#ancement {
    grid-area: ancement;
    border: 1px solid black;
}
section#content {
    grid-area: content;
}
section#bottom {
    grid-area: bottom;
    border: 1px solid black;
}

div#registerPage section#content {
  grid-area: content;
  background-image: url('../../img/background_frame.png');
  background-size: 100% 100%;
}


  
div#registerPage {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "ancement ancement ancement"
    "content content content"
    "bottom bottom bottom";
}
  
  @media only screen and (min-width: 1025px) {
  
    #backgroundImage {
      padding-top: 50px;
      padding-bottom: 50px;
      min-width: 1025px;
      max-width: 5120px;
      min-height: 800px;
      max-height: 1100px;
      object-fit: cover
    }
  }
  
  @media only screen and (min-width: 500px) and (max-width: 1024px) {
    #backgroundImage {
      padding-top: 50px;
      padding-bottom: 50px;
      height: 700px;
      max-height: 1000px;
      object-fit: cover;
    }
  }
  
  /* mobile view */
  @media only screen and (max-width: 500px) {
    #backgroundImage {
      padding-top: 50px;
      padding-bottom: 50px;
      width: 500px;
      height: 700px;
      max-height: 1100px;
      object-fit: cover;
    }
  }