main > * {
    margin: 0;
    padding: 0;
  }
div#main {
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "section"
        "aside"
        "article"
        "footer";
    /* background-image: url('./img/background_frame.png');
    background-size: cover; */
    grid-template-rows: 50px 50px repeat(2, 1fr) 50px;
}

body {
    margin: 0 auto;
}
  
header {grid-area: header;}
nav {
    grid-area: nav;
}
section {
    grid-area: section;
}
article {
    grid-area: article;
}
aside {
    grid-area: aside;
}
footer {grid-area: footer;}
  
  div#logInForm {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  
  /* Form Stylings */
  
  .list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
  
  .submit-form {
    max-width: 300px;
    margin: auto;
  }
  
  .edit-form {
    max-width: 300px;
    margin: auto;
  }
  
  div#main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "header header header"
      "nav nav nav"
      "section section aside"
      "article article aside"
      "footer footer footer";
  }
  
  @media only screen and (min-width: 1025px) {
  
    #backgroundImage {
      padding-top: 50px;
      padding-bottom: 50px;
      min-width: 1025px;
      max-width: 5120px;
      min-height: 800px;
      max-height: 1100px;
      object-fit: cover
    }
  }
  
  @media only screen and (min-width: 500px) and (max-width: 1024px) {
    #backgroundImage {
      padding-top: 50px;
      padding-bottom: 50px;
      height: 700px;
      max-height: 1000px;
      object-fit: cover;
    }
  }
  
  /* mobile view */
  @media only screen and (max-width: 500px) {
    #backgroundImage {
      padding-top: 50px;
      padding-bottom: 50px;
      width: 500px;
      height: 700px;
      max-height: 1100px;
      object-fit: cover;
    }
  }