@import url('https://fonts.googleapis.com/css?family=Jaldi|Racing+Sans+One&display=swap');


body {
    margin: 0 auto;
}

.active {
    background-color: crimson;
}

/* main grid areas */
section#content {
    position: absolute;
    top: 110px;
    width: 1000px;
    background-size: 100% 100%;
    display: grid;
    grid-template-areas: 
        "category search"
        "jobboard jobboard";
    grid-template-rows: 1fr 8fr;
}

ul#category {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

li {
    margin-right: 20px;
    font-family: Racing Sans One;
    color: white;
    font-size: larger;
}
a#ex {
    background-image: url('../../img/category.png');
    background-size: 100% 100%;
}
form#searchbar {
    grid-area: search;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    padding: 10px;
}
form button {
    margin-left: 10px;
}

/* sub grid areas */
ul#category {
    grid-area: category;
}
article#jobboard {
    grid-area: jobboard;
}
article.postClicked {
    display: grid;
    grid-template-areas:  
        "list jobpost";
}
div#jobboardImage {
    background-image: url('../../img/rectangle_24.png');
    background-size: 100% 100%;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}
li.joblists {
    color: black;
}


/* open job post (animation) */
div#job-description-wrapper {
    position: absolute;
    overflow: hidden;
    width: 500px;
    height: 300px;
    right: -100px;
    bottom: 100px;
}
div#job-description > div {
    position: absolute;
    background-color: cornsilk;
    right: -500px;
    width: 500px;
    height: 500px;
    animation: JobPostAnimation 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes JobPostAnimation {
    100% {
        right: 0px;
    }
}
.bgOpacity {
    animation: bgOpacity 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes bgOpacity {
    100% {
        opacity: 0.5;
    }
}

/* announcement styling (animation) */
.animated-text {
    background-color: rgb(63, 89, 135);
    color: white;
    transform: translate(-50, -50%);
    padding: 0 40px;
    height: 50px;
    overflow: hidden;
}
.line {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}
.line:first-child {
    animation: slide 12s infinite;
}
@keyframes slide {
    0% {
        margin-top: 0px;
    }
    2% {
        margin-top: 0px;
    }
    16% {
        margin-top: -50px;
    }
    18% {
        margin-top: -50px;
    }
    33% {
        margin-top: -100px;
    }
    35% {
        margin-top: -100px;
    }
    66% {
        margin-top: -150px;
    }
    82% {
        margin-top: -200px;
    }
    100% {
        margin-top: -250px;
    }
}