//- Expense list page
doctype html
html(lang='en')
  head
    title Homepage
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      table, td, th {
      border: 1px solid #ddd;
      text-align: left;
      }
      table {
      border-collapse: collapse;
      width: 50%;
      }
      .table-data{
      position: relative;
      left:150px;
      top:100px;
      }
      th, td {
      padding: 15px;
      }
  body
        .table-data
        h2 Job Listings
        ul 
         table
            thead
                tr
                    th Organization
                    th Position
            tbody
                
