@import url('https://fonts.googleapis.com/css?family=Jaldi|Racing+Sans+One&display=swap');

body {
    margin: 0 auto;
}

div#logInPage {
    display: grid;
    grid-template-areas: 
        "ancement"
        "content"
        "bottom";
    grid-template-rows: 1fr 10fr 1fr;
}


  
section#ancementLoginPage {
  grid-area: ancement;
}
section#contentLoginPage {
  grid-area: content;
  background-image: url('../../img/background_frame.png');
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "intro intro intro"
    "signin signin signin";
}
section#bottomLoginPage {
  grid-area: bottom;
}


article#loginContainer {
    grid-area: signin;
    margin-left: 20px;
    background-image: url('../../img/signin_box.png');
    width: 400px;
    height: 200px;
    background-size: 100% 100%;
}
article#introduction {
  grid-area: intro;
}
  
div#logInForm {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
}

button.loginBtn {
  margin-left: 50px;
  font-family: Racing Sans One;
  color: black;
  background-color: white;
  border-radius: 20px;
  width: 100px
}

div#emailInput {
  display: flex;
  margin: 10px;
  justify-content: center;
}

div#passwordInput {
  display: flex;
  margin: 10px;
  justify-content: center;
}
label.logInLabel {
  color: white;
  font-size: large;
  font-weight: bold;
  opacity: 0.8;
}
div.form-group input {
  margin: 5px;
  display: inline-flex;
  justify-content: flex-end;
}
div#main {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "ancement ancement ancement"
    "content content content"
    "bottom bottom bottom";
}
  
  @media only screen and (min-width: 1025px) {
  
    #backgroundImage {
      padding-top: 50px;
      padding-bottom: 50px;
      min-width: 1025px;
      max-width: 5120px;
      min-height: 800px;
      max-height: 1100px;
      object-fit: cover
    }
  }
  
  @media only screen and (min-width: 500px) and (max-width: 1024px) {
    #backgroundImage {
      padding-top: 50px;
      padding-bottom: 50px;
      height: 700px;
      max-height: 1000px;
      object-fit: cover;
    }
  }
  
  /* mobile view */
  @media only screen and (max-width: 500px) {
    #backgroundImage {
      padding-top: 50px;
      padding-bottom: 50px;
      width: 500px;
      height: 700px;
      max-height: 1100px;
      object-fit: cover;
    }
  }