.list {
  position: absolute;
  z-index: 1;
  left: 35%;
  top: 20%;
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px 20px;
}

.submit-form {
  position: fixed;
  z-index: 1;
  left: 40%;
  top: 20%;
  max-width: 300px;
  margin: auto;
}

.edit-form {
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 20%;
  max-width: 300px;
  margin: auto;
}
